@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/lineto-circular-pro-book.woff') format('woff');
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/lineto-circular-pro-bold.woff') format('woff');
}
